<?xml version="1.0" encoding="utf-8"?>
<!-- Field-test only: allow adb (root) to start the VpnService directly.
     Release builds keep exported=false. The service CODE is identical. -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application>
        <service
            android:name=".vpn.IronVpnService"
            android:exported="true"
            tools:replace="android:exported" />
    </application>
</manifest>
